* {

   margin:0px;
   padding: 0px ;
   

}

header {
    top : 0px;
    left : 0px;
    position: sticky;
}

nav {
    height: 20px;
    background-color: silver;
    padding: 20px;
    display: flex;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover,  nav li:hover {
    background-color: black;
    color: aqua;
}

nav a:active {
    color: orange;
}

nav li {

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 60;

}


article {
    background-color: blue;
    color: black;

    margin: 20px;
    
    padding: 10px;
    width: 80%;
    justify-content: center;
    align-items: center;
}

#a1 {
    display: flex;
    justify-content: right;
    flex-direction: column;
    align-items: center;
    height: 200px;
    
}

#div2 {
    display: flex;
}

#a1 > div {
    border: 2px solid blue;
    width: 250px
}

#a1 img {
        width: 150px;
        border-radius: 50%;
}

ul {
    margin: 20px;
}

#a2, #a4 {
    background-color: lavender;
}

#div1 {
    display: flex;
}

.c3{
    background-color: olive;
}
.c3 > h1 {
    color: blueviolet;
}

.c3 li {
    color: darkslategray;
}